<script setup lang="ts">
import { useCheckMaterialStore } from "@/stores/checkMaterial";
import { useCheckMaterialDetailStore } from "@/stores/checkMaterialDetail";
import { useMaterialStore } from "@/stores/material";
import { useMaterialPageStore } from "@/stores/page_material";
const checkmaterialStore = useCheckMaterialStore();
const checkmaterialdetailStore = useCheckMaterialDetailStore();
const materialStore = useMaterialStore();
const materialPageStore = useMaterialPageStore();
</script>
<template>
  <v-dialog
    v-model="checkmaterialdetailStore.dialog"
    persistent
    width="80%"
    transition="dialog-bottom-transition"
  >
    <v-card class="color">
      <v-container class="bg-tab font" style="overflow: auto" fluid>
        <v-row>
          <v-col
            ><v-card-title class="fontThai"
              ><h1>Check Material Profile</h1>
            </v-card-title></v-col
          >
        </v-row>
        <v-row
          ><v-col
            ><v-card-title class="fontThai">
              Employee name:
              {{ checkmaterialStore.employeeName }}
            </v-card-title></v-col
          ></v-row
        >
        <v-table style="font-family: Arial, Helvetica, sans-serif">
          <thead>
            <tr>
              <th>Name</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>Price per unit</th>
              <th>qty_remain</th>
              <th>qty_expire</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of materialPageStore.materials" :key="item.id">
              <td>{{ item.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.unit }}</td>
              <td>{{ item.price_per_unit }}</td>
              <td>
                <v-text-field
                  class="fontThai vtextfieldsize"
                  required
                  clearable
                  v-model="item.qty_remain"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) =>
                      parseInt(v) <= item.quantity ||
                      'qty remain ต้องน้อยกว่า quantity',
                  ]"
                  variant="underlined"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  class="fontThai vtextfieldsize"
                  required
                  clearable
                  v-model="item.qty_expire"
                  :rules="[(v) => !!v || 'Item is required']"
                  variant="underlined"
                ></v-text-field>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-container>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="#AF0000"
          variant="text"
          @click="
            (checkmaterialdetailStore.dialog = false),
              checkmaterialStore.clearCheckMat()
          "
        >
          Close
        </v-btn>
        <!-- <v-btn
          color="blue-darken-1"
          variant="text"
          @click="
            checkmaterialStore.saveCheckMaterial(),
              checkmaterialdetailStore.saveCheckmaterialDetail()
          "
        >
          Save
        </v-btn> -->
        <v-btn
          color="#7BAE64"
          variant="text"
          @click="
            checkmaterialStore.openCheckMaterial(),
              checkmaterialStore.clearCheckMatDetail()
          "
        >
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Old+Standard+TT:wght@400;700&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
.font {
  font-family: "Delicious Handrawn", cursive;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "PT Serif", serif;
}
.font1 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 20px;
}
.font2 {
  font-family: "Pragati Narrow", sans-serif;
  font-size: 17px;
}
.size {
  font-size: 10px;
}
.fontThai {
  font-family: "Noto Sans Thai", sans-serif;
  font-size: 20px;
}
.color {
  background-color: white;
}
.sizefont {
  font-weight: bold;
}
.vtextfieldsize {
  width: 200px;
}
</style>
