<script setup lang="ts">
import { useCheckMaterialStore } from "@/stores/checkMaterial";
import { useCheckMaterialDetailStore } from "@/stores/checkMaterialDetail";
const checkmaterialStore = useCheckMaterialStore();
const checkmaterialdetailStore = useCheckMaterialDetailStore();
</script>
<template>
  <v-dialog
    v-model="checkmaterialStore.Adddialog"
    persistent
    width="520"
    transition="dialog-bottom-transition"
  >
    <v-card height="250">
      <v-card-title class="fontC ml-7 mt-2">
        Please confirm your employee status!!</v-card-title
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  class="fontC"
                  label="Your Phone Number*"
                  required
                  v-model="checkmaterialStore.employee"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must equal 10',
                  ]"
                  variant="underlined"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          color="#AF0000"
          variant="text"
          class="mr-5 fontF"
          @click="
            (checkmaterialStore.Adddialog = false),
              checkmaterialStore.clearCheckMat()
          "
        >
          Close
        </v-btn>
        <v-btn
          color="#7BAE64"
          variant="text"
          class="ml-5 fontF"
          @click="checkmaterialStore.findEmpAddMaterial()"
        >
          Find
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
.fontAdd {
  font-family: Arial, Helvetica, sans-serif;
}
.sizeAdd {
  font-size: 30px;
}
.fontF {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
</style>
