<script setup lang="ts">
import { useCheckMaterialStore } from "@/stores/checkMaterial";
const checkmaterialStore = useCheckMaterialStore();
</script>

<template>
  <v-dialog
    v-model="checkmaterialStore.dialog"
    persistent
    width="520"
    transition="dialog-bottom-transition"
  >
    <v-card height="250">
      <v-card-title class="fontC ml-7 mt-2">
        Please confirm your employee status!!</v-card-title
      >
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  class="fontC"
                  label="Your phone number*"
                  required
                  v-model="checkmaterialStore.employee"
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length == 10 || 'Length must equal 10',
                  ]"
                  variant="underlined"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions class="justify-center">
        <v-btn
          color="#AF0000"
          variant="text"
          class="fontC mr-5"
          @click="
            (checkmaterialStore.dialog = false),
              checkmaterialStore.clearCheckMat()
          "
        >
          Close
        </v-btn>

        <v-btn
          color="#7BAE64"
          class="fontC ml-5"
          variant="text"
          @click="checkmaterialStore.findEmpCheckMaterial()"
        >
          Find
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style></style>
