<script lang="ts" setup>
import MaterialListVue from "./MaterialList.vue";
import MaterialCheck from "./CheckMaterial.vue";
</script>
<template>
  <MaterialListVue></MaterialListVue>
  <MaterialCheck></MaterialCheck>
</template>
