<script setup lang="ts">
import ConfirmDialog from "@/components/ConfirmDialog.vue";
import { useMaterialStore } from "@/stores/material";
import { onMounted, ref } from "vue";
import { useMaterialPageStore } from "@/stores/page_material";
import { useCheckMaterialStore } from "@/stores/checkMaterial";
import CheckMaterialDialog from "./CheckMaterialDialog.vue";
import BillMaterial from "./BillMaterial.vue";
import CheckMaterial from "./CheckMaterial.vue";
import MaterialDetail from "./MaterialDetailCheck.vue";

const materialStore = useMaterialStore();
const materialPageStore = useMaterialPageStore();
const confirmDlg = ref();
onMounted(async () => {
  await materialPageStore.getMaterials();
});
const deleteMaterial = async (id: number) => {
  try {
    await confirmDlg.value.openDialog(
      "Please Confirm",
      `คุณต้องการลบ Id ${id} หรือไม่`
    );
    await materialStore.deleteMaterial(id);
  } catch (e) {
    /* empty */
  }
};

const checkmaterialStore = useCheckMaterialStore();
</script>
<template>
  <v-container>
    <v-container class="d-flex justify-end" style="background-color: #695a5b">
      <v-table style="background-color: #695a5b">
        <thead>
          <tr>
            <td>
              <v-btn
                @click="checkmaterialStore.dialog = true"
                color="#8BD2EC"
                append-icon="mdi mdi-eye"
                style=""
                >Check Material</v-btn
              >

              <v-btn
                @click="checkmaterialStore.Adddialog = true"
                color="green"
                append-icon="mdi mdi-plus"
                class="ml-5"
                >Add Material</v-btn
              >
            </td>
            <td>
              <v-text-field
                class="mr-5"
                v-model="materialPageStore.keyword"
                single-line
                hide-details
                append-inner-icon="mdi-magnify"
                density="compact"
                variant="solo"
                label="Search Name"
                style="width: 25vw"
              ></v-text-field>
            </td>
          </tr>
        </thead>
      </v-table>
    </v-container>
    <CheckMaterialDialog></CheckMaterialDialog>
    <BillMaterial></BillMaterial>
    <MaterialDetail></MaterialDetail>
    <v-card>
      <v-table style="font-family: Arial, Helvetica, sans-serif">
        <thead>
          <tr class="fontD font-weight-bold">
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Price per unit</th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody class="fontD">
          <tr v-for="item of materialPageStore.materials" :key="item.id">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.unit }}</td>
            <td>{{ item.price_per_unit }}</td>
            <!-- <td> -->
            <!-- <v-btn
                    color="#c0c0c5"
                    class="mr-5"
                    @click="
                      materialStore.editMaterial(item),
                        (checkmaterialStore.dialog = true)
                    "
                    ><v-icon icon="mdi-pencil"></v-icon></v-btn
                  ><v-btn color="#c0c0c5" @click="deleteMaterial(item.id!)"
                    ><v-icon icon="mdi-delete"></v-icon
                  ></v-btn> -->
            <!-- </td> -->
          </tr>
        </tbody>
      </v-table>
    </v-card>
  </v-container>
  <v-container hidden>
    <ConfirmDialog ref="confirmDlg"></ConfirmDialog>
  </v-container>
</template>

<style scoped></style>
