<script lang="ts" setup>
import { useStoreStore } from "@/stores/store";
import { onMounted } from "vue";
import StoreDialog from "./StoreDialog.vue";

const storeStore = useStoreStore();

onMounted(async () => {
  await storeStore.getStores();
});
</script>
<template>
  <StoreDialog></StoreDialog>
  <v-btn
    class="mt-5 ml-5"
    @click="storeStore.dialog = true"
    prepend-icon="mdi-plus"
    color="rgb(178,140,94)"
    >Add New</v-btn
  >
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address_State</th>
        <th>Address_City</th>
        <th>Tel</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of storeStore.stores" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.address_state }}</td>
        <td>{{ item.address_city }}</td>
        <td>{{ item.tel }}</td>
        <td>
          <v-btn
            class="mr-5"
            @click="storeStore.editStore(item)"
            icon="mdi-playlist-edit"
            color="blue"
          ></v-btn>
          <v-btn
            @click="storeStore.deleteStore(item.id!)"
            icon="mdi-trash-can-outline"
            color="error"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
