<script lang="ts" setup>
import { useEmployeeStore } from "@/stores/employee";
import { onMounted } from "vue";
import EmployeeDialog from "./employeeDialog.vue";

const employeeStore = useEmployeeStore();

onMounted(async () => {
  await employeeStore.getEmployees();
});
</script>
<template>
  <EmployeeDialog></EmployeeDialog>
  <v-btn
    class="mt-5 ml-5"
    @click="employeeStore.dialog = true"
    prepend-icon="mdi-plus"
    color="rgb(178,140,94)"
    >Add New</v-btn
  >
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Tel</th>
        <th>Email</th>
        <th>Position</th>
        <th>Hourly Wage</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of employeeStore.employees" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.hourly_wage }}</td>
        <td>
          <v-btn
            class="mr-5"
            @click="employeeStore.editEmployee(item)"
            icon="mdi-playlist-edit"
            color="blue"
          ></v-btn
          ><v-btn
            @click="employeeStore.deleteEmployee(item.id!)"
            icon="mdi-trash-can-outline"
            color="error"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
