<script lang="ts" setup>
import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";

const productStore = useProductStore();
onMounted(() => {
  productStore.getProducts();
});
const categoryStore = useCategoryStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  // await productStore.getProducts();
  await categoryStore.getCategory();
  await productStore.getProductsByCategory(productStore.category);
});
</script>
<template>
  <v-btn
    class="mt-5 ml-5"
    @click="productStore.dialog = true"
    prepend-icon="mdi-plus"
    color="rgb(178,140,94)"
    >Add New</v-btn
  >

  <v-tabs v-model="productStore.category">
    <v-tab
      v-for="item of categoryStore.category"
      :value="item.id"
      :key="item.id"
      >{{ item.name }}</v-tab
    >
  </v-tabs>
  <ProductDialog></ProductDialog>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>Size</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>
          <v-img
            :src="`${backendURL}/products/image/${item.image}`"
            height="128px"
          ></v-img>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.size }}</td>
        <td>
          <v-btn
            class="mr-5"
            @click="productStore.editProduct(item)"
            icon="mdi-playlist-edit"
            color="blue"
          ></v-btn
          ><v-btn
            @click="productStore.deleteProduct(item.id!)"
            icon="mdi-trash-can-outline"
            color="error"
          ></v-btn>
        </td>
      </tr>
    </tbody>
    <tbody></tbody>
  </v-table>
</template>
