<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { useReceiptStore } from "@/stores/receipt";
import type Receipt from "@/types/Receipt";
import { onMounted } from "vue";

const receiptStore = useReceiptStore();
onMounted(async () => {
  await receiptStore.getReceipts();
  console.log(receiptStore.receipts);
});

// const customerStore = useCustomerStore();
const Click = (receipt: Receipt) => {
  receipt.show = !receipt.show;
};
</script>

<template>
  <v-container class="mt-5">
    <v-row>
      <v-col>
<<<<<<< HEAD
        <v-card
          style="background-color: #e3ccae; height: auto"
          width="94%"
          class="ml-12"
        >
          <v-card-text>
            <v-row style="background-color: #454545; color: #b8621b">
              <v-col cols="1" class="title">ID</v-col>
              <v-col cols="2" class="title">Store Name</v-col>
              <v-col cols="2" class="title">Employee Name</v-col>
              <v-col cols="2" class="title">Customer Name</v-col>
              <v-col cols="2" class="title">Payment</v-col>
              <v-col cols="2" class="title">Total</v-col>
            </v-row>
            <v-divider class="my-3"></v-divider>
            <v-row
              v-for="receipt of receiptStore.receipts"
              :key="receipt.id"
              @click="Click(receipt)"
            >
              <v-col cols="1" class="show">{{ receipt.id }}</v-col>
              <v-col cols="2" class="show">{{ receipt.store.name }}</v-col>
              <v-col cols="2" class="show">{{
                receipt.employee.name || ""
              }}</v-col>
              <v-col
                cols="2"
                class="show"
                v-if="receipt.customer?.id?.valueOf() != null"
                >{{ receipt.customer?.name }}
              </v-col>
              <v-col cols="2" class="show" v-else>General Customer </v-col>
              <v-col cols="2" class="show">{{ receipt.payment }}</v-col>
              <v-col cols="2" class="show">{{ receipt.total }} THB</v-col>
              <v-divider></v-divider>
              <v-expand-transition>
                <v-container
                  v-show="receipt.show"
                  align="center"
                  justify="center"
                >
                  <v-row align="center" justify="center" cols="12">
                    <v-col cols="8">
                      <v-row cols="12">
                        <v-col cols="5" style="padding-left: 6vw" class="menu"
                          >Product Name</v-col
                        >
                        <v-col cols="3" class="menu">Product Price</v-col>
                        <v-col cols="2" class="menu">Amount</v-col>
                        <v-col cols="2" class="menu">Total</v-col></v-row
                      ></v-col
                    >
                    <v-col cols="4"></v-col>
                  </v-row>
                  <v-row
                    v-for="receiptdetails of receipt.receiptdetails"
                    :key="receiptdetails.id"
                  >
                    <v-row>
                      <v-col cols="8">
                        <v-row cols="12">
                          <v-col cols="5" style="padding-left: 11vw">{{
                            receiptdetails.name || ""
                          }}</v-col>
                          <v-col cols="3">{{ receiptdetails.price }} THB</v-col>
                          <v-col cols="2">{{ receiptdetails.amount }}</v-col>
                          <v-col cols="2">{{ receiptdetails.total }} THB</v-col>
                        </v-row></v-col
                      >
                      <v-col cols="4"></v-col></v-row
                  ></v-row>
                </v-container>
              </v-expand-transition>
            </v-row>
          </v-card-text>
        </v-card>
=======
        <!-- <v-card style="background-color: #e3ccae; height: auto" width="94%" class="ml-12"> -->
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="1" class="one">ID</v-col>
            <v-col cols="2" class="one">STORE NAME</v-col>
            <v-col cols="2" class="one">EMPLOYEE NAME</v-col>
            <v-col cols="2" class="one">CUSTOMER NAME</v-col>
            <v-col cols="2" class="one">PAYMENT</v-col>
            <v-col cols="2" class="one">TOTAL</v-col>
          </v-row>
          <v-divider class="my-3"></v-divider>
          <v-row
            v-for="receipt of receiptStore.receipts"
            :key="receipt.id"
            @click="Click(receipt)"
          >
            <v-col cols="1" class="one">{{ receipt.id }}</v-col>
            <v-col cols="2" class="one">{{ receipt.store.name }}</v-col>
            <v-col cols="2" class="one">{{
              receipt.employee.name || ""
            }}</v-col>
            <v-col
              cols="2"
              class="one"
              v-if="receipt.customer?.id?.valueOf() != null"
              >{{ receipt.customer?.name }}
            </v-col>
            <v-col cols="2" class="one" v-else>General Customer </v-col>
            <v-col cols="2" class="one">{{ receipt.payment }}</v-col>
            <v-col cols="2" class="one">{{ receipt.total }} THB</v-col>
            <v-divider></v-divider>
            <v-expand-transition>
              <v-container
                v-show="receipt.show"
                align="center"
                justify="center"
              >
                <v-row align="center" justify="center" cols="12">
                  <v-col cols="12">
                    <v-row cols="12">
                      <v-col cols="3" style="padding-left: 6vw" class="three"
                        >Product Name</v-col
                      >
                      <v-col cols="3" class="three">Product Price</v-col>
                      <v-col cols="3" class="three">Amount</v-col>
                      <v-col cols="3" class="three">Total</v-col></v-row
                    ></v-col
                  >
                  <!-- <v-col cols="4"></v-col> -->
                </v-row>
                <v-row
                  v-for="receiptdetails of receipt.receiptdetails"
                  :key="receiptdetails.id"
                >
                  <v-row>
                    <v-col cols="12">
                      <v-row cols="12">
                        <v-col
                          cols="3"
                          style="padding-left: 8vw"
                          class="four"
                          >{{ receiptdetails.name || "" }}</v-col
                        >
                        <v-col cols="3" class="four"
                          >{{ receiptdetails.price }} THB</v-col
                        >
                        <v-col cols="3" class="four">{{
                          receiptdetails.amount
                        }}</v-col>

                        <v-col cols="3" class="four"
                          >{{ receiptdetails.total }} THB</v-col
                        >
                      </v-row></v-col
                    >
                    <!-- <v-col cols="4"></v-col> -->
                  </v-row></v-row
                >
              </v-container>
            </v-expand-transition>
          </v-row>
        </v-card-text>
        <!-- </v-card> -->
>>>>>>> 5dc1ca8ec71ab3aca97b8774c81912ed6b46f721
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-family: serif;
  font-size: large;
}

.two {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
  /* font-weight: bold; */
}

.three {
  font-family: serif;
  font-size: medium;
  font-weight: bold;
}

.four {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
</style>
