<script setup lang="ts">
import BestProduct from "@/components/ChartComponent/BestProduct.vue";
import Sale from "@/components/ChartComponent/Sale.vue";
import { useCustomerStore } from "@/stores/customer";
import { onMounted, ref } from "vue";
const customerStore = useCustomerStore();

// const items = ref([
//   {
//     src: "https://cdn.discordapp.com/attachments/1055391782336213043/1093569719241556038/Espresso.png",
//   },
//   {
//     src: "https://cdn.discordapp.com/attachments/1055391782336213043/1093569718507536424/Dark_Chocolate.png",
//   },
//   {
//     src: "https://cdn.discordapp.com/attachments/1055391782336213043/1093569718817923082/Cappuccino.png",
//   },
// ]);

onMounted(async () => {
  await customerStore.getCustomers();
  await customerStore.getCustomerByPoint();
});
</script>

<template>
  <v-container>
    <v-row>
<<<<<<< HEAD
      <v-col cols="3" class="ml-10">
        <v-card color="black" outlined tile>
          <v-card-title>
            <div class="font">Sales</div>
          </v-card-title></v-card
        >
        <v-col>
          <h3 style="font-size: medium">Revenue</h3>
          <h3 style="font-size: x-large">100,000 THB</h3>
        </v-col>
      </v-col>
      <v-col cols="4">
        <v-card color="black" outlined tile>
          <v-card-title>
            <div class="font">Orders</div>
          </v-card-title></v-card
        >
        <v-col>
          <h3 style="font-size: medium">Orders</h3>
          <h3 style="font-size: x-large">100 Orders</h3>
        </v-col>
      </v-col>
      <v-col cols="4">
        <v-card color="black" outlined tile>
          <v-card-title>
            <div class="font">Customers</div>
          </v-card-title></v-card
        >
        <v-col>
          <h3 style="font-size: medium">Customers</h3>
          <h3 style="font-size: x-large">7</h3>
        </v-col>
      </v-col>
    </v-row>
    <v-row class="mt-10 ml-10">
      <v-col cols="3">
        <v-card color="rgb(255, 166, 43)" outlined tile>
          <v-card-title>
            <div class="font">Product revenue composition</div>
          </v-card-title></v-card
        >
        <v-col>
          <Sale></Sale>
        </v-col>
      </v-col>
      <v-col cols="4">
        <v-card color="rgb(255, 166, 43)" outlined tile>
          <v-card-title>
            <div class="font">Best Seller</div>
          </v-card-title></v-card
        >
        <v-col>
          <v-carousel :show-arrows="false" height="400px">
            <v-carousel-item
              v-for="(item, i) in items"
              :key="i"
              :src="item.src"
            ></v-carousel-item>
          </v-carousel>
        </v-col>
      </v-col>
      <v-col cols="4">
        <v-card color="rgb(255, 166, 43)" outlined tile>
          <v-card-title>
            <div class="font">Best Customers</div>
          </v-card-title></v-card
        >
        <v-col>
          <v-card height="auto">
            <v-table>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>tel</th>
                  <th>point</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  class="fontD"
                  v-for="item of customerStore.customerBypoint"
                  :key="item.id"
=======
      <v-col>
        <v-card-text>
          <v-row style="background-color: #454545; color: #f1f1f1">
            <v-col cols="12" class="one">Key Metrics</v-col>
          </v-row>
          <v-row>
            <v-col cols="4" class="two">Revenue</v-col>
            <v-col cols="4" class="two">Orders</v-col>
            <v-col cols="4" class="two">Customers</v-col>
          </v-row>
          <v-row>
            <v-col cols="4" class="three">100,000 ฿</v-col>
            <v-col cols="4" class="three">240 orders</v-col>
            <v-col cols="4" class="three">7</v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #ffa559; color: #f1f1f1">
            <v-col cols="12" class="one">Chart Weekly Revenue</v-col>
          </v-row>
          <v-row>
            <v-col cols="6" class="two">Sales Of Beverage (THB) </v-col>
            <v-col cols="6" class="two">
              Sales of Beverages (number of glasses)
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" class="three">
              <Sale></Sale>
            </v-col>
            <v-col cols="6" class="three">
              <BestProduct></BestProduct>
            </v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
      <v-col>
        <v-card-text>
          <v-row style="background-color: #243763; color: #f1f1f1">
            <v-col cols="12" class="one"
              >Best Customer and Recommend Menu</v-col
            >
          </v-row>
          <v-row>
            <v-col cols="6" class="two">Best Customer</v-col>
            <v-col cols="6" class="two">Recommend Menu</v-col>
          </v-row>
          <v-row>
            <v-col cols="6" class="two">
              <v-card height="auto">
                <v-table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Point</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="fontD"
                      v-for="item of customerStore.customerBypoint"
                      :key="item.id"
                    >
                      <td>{{ item.name }}</td>
                      <td>{{ item.point }}</td>
                    </tr>
                  </tbody>
                </v-table></v-card
              ></v-col
            >
            <v-col cols="6" class="fontpic">
              <!-- <v-carousel :show-arrows="false" height="400px">
                                                                                              <v-carousel-item v-for="(item, i) in items" :key="i" :src="item.src"></v-carousel-item>
                                                                                            </v-carousel> -->
              <v-carousel show-arrows="hover" height="420">
                <v-carousel-item
                  src="https://cdn.discordapp.com/attachments/1055391782336213043/1093569719241556038/Espresso.png"
                  >Espresso</v-carousel-item
>>>>>>> 5dc1ca8ec71ab3aca97b8774c81912ed6b46f721
                >

                <v-carousel-item
                  src="https://cdn.discordapp.com/attachments/1055391782336213043/1093569718507536424/Dark_Chocolate.png"
                  >Coco</v-carousel-item
                >

                <v-carousel-item
                  src="https://cdn.discordapp.com/attachments/1055391782336213043/1093569718817923082/Cappuccino.png"
                  >Cappuccino</v-carousel-item
                >
              </v-carousel>
            </v-col>
          </v-row>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.one {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.two {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
}

.three {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.fontpic {
  font-size: 45px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}
</style>
