<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
const authStore = useAuthStore();
const drawer = ref(true);
const rail = ref(true);
const nameShow = localStorage.getItem("name");
const positionShow = localStorage.getItem("position");
</script>
<template>
<<<<<<< HEAD
  <v-navigation-drawer
    color="rgb(162, 123, 92)"
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <v-list-item
      prepend-avatar="https://media0.giphy.com/media/4Zo41lhzKt6iZ8xff9/200w.gif?cid=6c09b952bfd0e7ll9ncae606sd4khr0tfomh67cgbczuxmfh&rid=200w.gif&ct=g%22"
      :title="`${nameShow}`"
      :subtitle="`${positionShow}`"
      nav
    >
      <template v-slot:append>
        <v-btn
          variant="text"
          icon="mdi-chevron-left"
          @click.stop="rail = !rail"
        ></v-btn>
      </template>
=======
  <!-- <v-navigation-drawer color="rgb(162, 123, 92)" v-model="drawer" :rail="rail" permanent @click="rail = false"> -->
  <v-navigation-drawer color="rgb(162, 123, 92)" expand-on-hover rail>
    <v-list-item
      prepend-avatar="https://media0.giphy.com/media/4Zo41lhzKt6iZ8xff9/200w.gif?cid=6c09b952bfd0e7ll9ncae606sd4khr0tfomh67cgbczuxmfh&rid=200w.gif&ct=g%22"
      :title="`${nameShow}`"
      :subtitle="`${positionShow}`"
      nav
    >
      <!-- <template v-slot:append>
                  <v-btn
                    variant="text"
                    icon="mdi-chevron-left"
                    @click.stop="rail = !rail"
                  ></v-btn>
                </template> -->
>>>>>>> 5dc1ca8ec71ab3aca97b8774c81912ed6b46f721
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> e7aee2d43791819729abceb821b08638da97b6d9
      <v-list-item
        prepend-icon="mdi-home-city"
        title="Home"
        value="home"
        to="/"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-chart-line"
        title="Dash Board"
        value="dashboard"
        to="/dashboard"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-point-of-sale"
        title="Point Of Sale"
        value="pos"
        to="/pos"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-receipt-text"
        title="Receipt"
        value="receipt"
        to="/receipt"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-food"
        title="Product"
        value="product"
        to="/product"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-account"
        title="User"
        value="user"
        to="/user"
      ></v-list-item>
<<<<<<< HEAD
      <!-- <v-list-item
                                    prepend-icon="mdi-account-group"
                                    title="Employee"
                                    value="employee"
                                    to="/employee"
                                  ></v-list-item> -->
      <v-list-item
        prepend-icon="mdi-store"
        title="Store"
        value="store"
        to="/store"
      ></v-list-item>
=======
    <v-list-item prepend-icon="mdi-home-city" title="Home" value="home" to="/"></v-list-item>
    <v-list-item prepend-icon="mdi-chart-line" title="Dash Board" value="dashboard" to="/dashboard"></v-list-item>
    <v-list-item prepend-icon="mdi-point-of-sale" title="Point Of Sale" value="pos" to="/pos"></v-list-item>
    <v-list-item prepend-icon="mdi-receipt-text" title="Receipt" value="receipt" to="/receipt"></v-list-item>
    <v-list-item prepend-icon="mdi-food" title="Product" value="product" to="/product"></v-list-item>
      <v-list-item prepend-icon="mdi-account" title="User" value="user" to="/user"></v-list-item>
      <v-list-item prepend-icon="mdi-point-of-sale" title="Check In Check Out" value="checkinout"
        to="/checkinout"></v-list-item>
=======
      <v-list-item
        prepend-icon="mdi-point-of-sale"
        title="Check In Check Out"
        value="checkinout"
        to="/checkinout"
      ></v-list-item>
>>>>>>> e7aee2d43791819729abceb821b08638da97b6d9
      <!-- <v-list-item
                                              prepend-icon="mdi-account-group"
                                              title="Employee"
                                              value="employee"
                                              to="/employee"
                                            ></v-list-item> -->
<<<<<<< HEAD
      <v-list-item prepend-icon="mdi-store" title="Store" value="store" to="/store"></v-list-item>
>>>>>>> 5dc1ca8ec71ab3aca97b8774c81912ed6b46f721
=======
      <v-list-item
        prepend-icon="mdi-store"
        title="Store"
        value="store"
        to="/store"
      ></v-list-item>
>>>>>>> e7aee2d43791819729abceb821b08638da97b6d9

      <v-list-item
        prepend-icon="mdi-account-heart"
        title="Customer"
        value="customer"
        to="/customer"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-food-variant"
        title="Material"
        value="material"
        to="/material"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-exit-to-app"
        title="Logout"
        value="logout"
        @click="authStore.logout"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
