<script setup lang="ts">
import { computed, ref, onMounted } from "vue";
import { useCustomerStore } from "@/stores/customer";
import type Product from "@/types/Product";
import { useCategoryStore } from "@/stores/category";
import { useProductStore } from "@/stores/product";
import CustomerDialog from "./CustomerDialog.vue";
import CustomerMagnify from "@/views/customers/CustomerMagnify.vue";
import { useReceiptStore } from "@/stores/receipt";
const productStore = useProductStore();
const receiptStore = useReceiptStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
const categoryStore = useCategoryStore();
const customerStore = useCustomerStore();
const QRCode = ref("QRcode");
const toggle = ref("normal");
onMounted(async () => {
  await customerStore.getCustomers();
});
onMounted(async () => {
  await productStore.getProducts();
});
const list = ref<{ id: number; name: string; price: number }[]>([]);
const addList = (product: { id: number; name: string; price: number }) => {
  list.value.push(product);
};
const discountPrice = computed(() => {
  return (
    receiptStore.sumPrice * (Math.floor(customerStore.usingCus.point / 10) / 5)
  );
});
const totalPrice = computed(() => {
  return (
    receiptStore.sumPrice -
    receiptStore.sumPrice * (Math.floor(customerStore.usingCus.point / 10) / 5)
  );
});

const change = computed(() => {
  return (
    receiptStore.received -
    (receiptStore.sumPrice -
      receiptStore.sumPrice *
        (Math.floor(customerStore.usingCus.point / 10) / 5))
  );
});
onMounted(async () => {
  // await productStore.getProducts();
  await categoryStore.getCategory();
  await productStore.getProductsByCategory(productStore.category);
});
const receiptShow = ref(false);
</script>
<template>
  <CustomerMagnify></CustomerMagnify>
  <CustomerDialog></CustomerDialog>
  <v-row>
    <v-col cols="7">
      <v-container class="justify-center">
        <v-tabs v-model="productStore.category" class="bg-brown-darken-1">
          <v-tab
            v-for="item of categoryStore.category"
            :value="item.id"
            :key="item.id"
            >{{ item.name }}</v-tab
          >
        </v-tabs>

        <v-card
          width="auto"
          height="500px"
          color="rgb(139, 126, 116)"
          theme="white"
          class="overflow-y-auto"
          style="
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
              sans-serif;
          "
        >
          <v-row justify="center" class="mt-5">
            <v-col
              style="justify-content: center"
              cols="4"
              v-for="item of productStore.products"
              :key="item.id"
            >
              <v-card
                class="mx-auto ml-2 mr-2"
                width="auto"
                style="background-color: rgb(111, 80, 71)"
              >
                <v-card-item>
                  <v-card-title style="text-align: center; color: bisque">{{
                    item.name
                  }}</v-card-title>
                </v-card-item>
                <v-img
                  cover
                  height="200px"
                  :src="`${backendURL}/products/image/${item.image}`"
                >
                </v-img>
                <v-card-actions>
                  <v-btn
                    height="50"
                    block
                    @click="receiptStore.addProduct(item)"
                  >
                    <div style="color: beige">
                      {{ item.name }} {{ item.price }}
                      THB
                    </div>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>

          <v-col></v-col>

          <v-row class="justify-content-space-between"> </v-row>
        </v-card>
      </v-container>

      <v-row>
        <v-col cols="8">
          <v-card
            class="rounded-lg ml-5"
            width="auto"
            height="150px"
            color="rgb(139, 126, 116)"
          >
            <div class="d-flex align-center flex-column pa-6">
              <h2 class="color">TYPE SWEETNESS</h2>
              <v-btn-toggle
                v-model="toggle"
                divided
                variant="outlined"
                class="mt-5"
              >
                <v-btn class="rounded-pill">Not sweet</v-btn>
                <v-btn class="rounded-pill ml-5">Less less sweet</v-btn>
                <v-btn class="rounded-pill ml-5">not sweet</v-btn>
                <v-btn class="rounded-pill ml-5">normal</v-btn>
              </v-btn-toggle>
            </div>
          </v-card>
        </v-col>
        <v-col cols="4">
          <v-card
            class="rounded-lg ml-5"
            width="auto"
            height="150px"
            color="rgb(139, 118, 116)"
          >
            <h3 class="color" style="text-align: center">TOPPING</h3>
            <v-checkbox label="whipped cream" color="brown"></v-checkbox>
            <v-checkbox label="bubble" color="brown"></v-checkbox>
          </v-card> </v-col
      ></v-row>
      <v-row class="mt-5">
        <v-col cols="2.4 ml-10"
          ><v-btn
            class="rounded-pill"
            color="black"
            size="100%"
            @click="receiptStore.Cash()"
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            <v-icon
              icon="mdi-cash"
              class="rounded-circle"
              color="green"
            ></v-icon>
            Cash
          </v-btn></v-col
        >
        <v-col cols="2.4 ml-10"
          ><v-btn
            class="rounded-pill"
            color="black"
            size="100%"
            @click="receiptStore.Credit()"
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            <v-icon
              icon="mdi-credit-card"
              class="rounded-circle"
              color="blue"
            ></v-icon
            >Credit
          </v-btn></v-col
        >
        <v-col cols="2.4 ml-10"
          ><v-btn
            class="rounded-pill"
            color="black"
            size="100%"
            @click="receiptStore.QRcode(), (receiptStore.received = totalPrice)"
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            <v-icon
              icon="mdi-qrcode-scan"
              class="rounded-circle"
              color="purple"
            ></v-icon
            >QR Code
          </v-btn></v-col
        >
        <v-col cols="2.4 ml-10"
          ><v-btn
            class="rounded-pill"
            color="rgb(255, 184, 76)"
            height="50px"
            @click="customerStore.dialog2 = true"
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            <v-icon
              icon="mdi-magnify"
              class="rounded-circle"
              color="blue"
            ></v-icon
            >find member
          </v-btn></v-col
        >
        <v-col cols="2.4 ml-10"
          ><v-btn
            class="rounded-pill"
            color="rgb(255, 184, 76)"
            size="100%"
            @click="customerStore.dialog = true"
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
          >
            <v-icon
              icon="mdi-account-multiple-plus"
              class="rounded-circle"
              color="blue"
            ></v-icon
            >register
          </v-btn></v-col
        >
      </v-row>
    </v-col>
    <v-col cols="5">
      <v-card width="auto" height="720px" class="bg-brown-darken-1 mt-4">
        <v-container class="cont rounded-xl">
          <v-table
            width="auto"
            class="overflow-auto bg-brown-lighten-3"
            height="200"
          >
            <thead class="bg-brown-lighten-1">
              <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="bg-brown-lighten-3">
              <tr
                v-for="(item, index) of receiptStore.receiptList"
                :key="index"
              >
                <td>
                  {{ item.product.name }}
                </td>
                <td>
                  {{ item.product.price }}
                </td>
                <td>
                  {{ item.amount }}
                </td>
                <td>{{ item.sum }}</td>
                <td>
                  <v-btn color="rgb(220,185,171)" @click="receiptStore.deleteProduct(index)" icon="mdi-delete"
                    size="small"></v-btn>
                  <v-btn color="rgb(220,185,171)" @click="receiptStore.deleteProduct(index)" icon="mdi-delete"
                    size="small"></v-btn>
                  <v-btn color="rgb(220,185,171)" @click="receiptStore.deleteProduct(index)" icon="mdi-delete"
                    size="small"></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-container>

        <v-card class="ml-3 mr-3 ma-3"
          ><v-table class="bg-brown-lighten-3">
            <thead>
              <tr>
                <th class="text-left eiei">STATUS</th>
                <th
                  class="text-right bibi"
                  v-if="customerStore.usingCus.name.length > 0"
                >
                  <h2>Member</h2>
                  <h1>({{ customerStore.usingCus.name }})</h1>
                </th>
                <th class="text-right bibi" v-else>
                  <h1>GENERAL Customer</h1>
                </th>
              </tr>
              <tr>
                <th class="text-left eiei">Subtotal</th>
                <th class="text-right bibi">{{ receiptStore.sumPrice }} THB</th>
              </tr>
              <tr>
                <th class="text-left eiei">Pay By</th>
                <th class="text-right bibi">
                  {{ receiptStore.payment }}
                </th>
              </tr>
              <tr>
                <th class="text-left eiei">Discount sales</th>
                <th
                  class="text-right bibi"
                  v-if="customerStore.usingCus.name.length > 0"
                >
                  {{ discountPrice }} THB
                </th>
                <th class="text-right bibi" v-else>Not a Member</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th class="text- left eiei">
                  <h2>TOTAL</h2>
                </th>
                <th class="text-right eiei">
                  <h2>
                    {{ totalPrice }}
                    THB
                  </h2>
                </th>
              </tr>
              <tr>
                <th class="text- left eiei">
                  <h2>Cash</h2>
                </th>
                <th>
                  <v-text-field
                    v-if="receiptStore.payment == QRCode"
                    variant="underlined"
                    v-model="receiptStore.received"
                    required
                    disabled
                    :rules="[(v) => !!v || '']"
                  ></v-text-field>
                  <v-text-field
                    v-else
                    variant="underlined"
                    v-model="receiptStore.received"
                    required
                    clearable
                    enabled
                    :rules="[(v) => !!v || '']"
                  ></v-text-field>
                </th>
              </tr>

              <tr>
                <th class="text- left eiei">
                  <h2>Change</h2>
                </th>
                <th
                  class="text-right eiei"
                  v-if="
                    receiptStore.payment == QRCode &&
                    receiptStore.received >= totalPrice &&
                    receiptStore.sumAmount >= 1
                  "
                >
                  No Change (Pay by QRcode)
                </th>
                <th
                  class="text-right eiei"
                  v-if="
                    receiptStore.received >= totalPrice &&
                    receiptStore.sumAmount >= 1 &&
                    receiptStore.payment != QRCode
                  "
                >
                  {{ change }} THB
                </th>
                <th
                  class="text-right bibi"
                  v-if="totalPrice > receiptStore.received"
                >
                  Not Enough Money
                </th>
              </tr>
            </thead>
            {{ customerStore.usingCus.id?.valueOf() }}
          </v-table>

          <v-btn
            class="mr-5"
            color="bg-brown-lighten-4"
            size="large"
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
            width="100%"
            v-if="receiptStore.received < totalPrice"
            disabled
          >
            <v-icon
              icon="mdi-receipt-text"
              class="rounded-circle"
              color="Black"
              width="500"
            ></v-icon
            >Payment</v-btn
          ><v-btn
            @click="
              receiptStore.openReceipt(),
                (receiptStore.receiptShow = !receiptStore.receiptShow)
            "
            class="mr-5"
            color="bg-brown-lighten-4"
            size="large"
            style="
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            "
            width="100%"
            v-else-if="
              receiptStore.received >= totalPrice && receiptStore.sumAmount >= 1
            "
          >
            <v-icon
              icon="mdi-receipt-text"
              class="rounded-circle"
              color="Black"
              width="500"
            ></v-icon
            >Payment</v-btn
          >
        </v-card>
        <v-row>
          <v-col class="ml-5">
            <v-overlay
              v-model="receiptStore.receiptShow"
              class="justify-center"
              @after-leave="
                receiptStore.checkShowingReceipt(),
                  customerStore.usingCus.id?.valueOf() == 0
              "
            >
              <v-card
                width="500px"
                height="650px"
                class="mt-12 mx-auto rounded-xl justify-center overflow-y-auto"
              >
                <h1
                  style="
                    font-family: fantasy;
                    font-size: 45px;
                    text-align: center;
                  "
                >
                  WAIRUN CAFE
                </h1>
                <v-table width="auto" height="max">
                  <thead style="font-family: fantasy">
                    <tr>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Sum</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(item, index) of receiptStore.receiptList"
                      :key="index"
                    >
                      <td>
                        {{ item.product.name }}
                      </td>
                      <td>
                        {{ item.amount }}
                      </td>
                      <td>
                        {{ item.sum }}
                      </td>
                    </tr>
                  </tbody>
                </v-table>

                <v-table style="width: auto; max-width: 75%">
                  <tbody style="font-size: 20px">
                    <tr>
                      <td class="text-left eiei">STATUS</td>
                      <td
                        class="text-right bibi"
                        v-if="customerStore.usingCus.name.length > 0"
                      >
                        <h2>Member</h2>
                        <h1>({{ customerStore.usingCus.name }})</h1>
                      </td>
                      <td class="text-right bibi" v-else>
                        <h2>GENERAL Customer</h2>
                      </td>
                    </tr>
                    <tr>
                      <th class="text-left eiei">Total Amount</th>
                      <th class="text-right bibi">
                        {{ receiptStore.sumAmount }} Items
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left eiei">SubTotal Price</th>
                      <th class="text-right bibi">
                        {{ receiptStore.sumPrice }} THB
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left eiei">Discount Price</th>
                      <th
                        class="text-right bibi"
                        v-if="customerStore.status == true"
                      >
                        {{ discountPrice }} THB
                      </th>
                      <th class="text-right bibi" v-else>Not a Member</th>
                    </tr>
                    <tr>
                      <th class="text-left eiei">Total Price</th>
                      <th class="text-right bibi">{{ totalPrice }} THB</th>
                    </tr>
                    <tr>
                      <th class="text-left eiei">Cash</th>
                      <th class="text-right bibi">
                        {{ receiptStore.received }} THB
                      </th>
                    </tr>
                    <tr>
                      <th class="text-left eiei">Change</th>
                      <th class="text-right bibi">
                        {{ change }}
                        THB
                      </th>
                    </tr>
                  </tbody>
                </v-table>
                <h2 style="font-family: fantasy; text-align: center">
                  THANK YOU FOR YOUR SUPPORT<v-icon
                    icon="mdi-heart"
                    class="rounded-circle"
                    color="Black"
                    width="500"
                  ></v-icon>
                </h2>
              </v-card>
            </v-overlay>
          </v-col>
        </v-row>
      </v-card>
      <br />
    </v-col>
  </v-row>
</template>
<style scoped>
.eiei {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}

.bibi {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
}

table {
  border: 1px solid #ffffff;
}

.cont {
  justify-content: left;
}

body {
  overflow: hidden;
}

.color {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.eiei {
  width: auto;
}
</style>
