<script setup lang="ts">
import { mdiMagnify } from "@mdi/js";
import order from "@/components/MenuView.vue";
import list from "@/components/MenuView.vue";
import { ref, computed } from "vue";
const sum = computed(() => {
  return list.value.reduce(
    (get: any, total: { price: any }) => get + total.price,
    0
  );
});
</script>
<template>
  <v-card class="bg-yellow-lighten-4 mt-5 mr-3" theme="dark">
    <v-table>
      <thead class="bg-brown-lighten-1">
        <tr>
          <th width="70px">ลําดับ</th>
          <th width="110px">รายการสินค้า</th>
          <th width="50px">ราคา</th>
          <th width="80px">จํานวน</th>
          <th width="110px">รวมทั้งหมด</th>
        </tr>
      </thead>
      <tbody class="bg-yellow-lighten-4">
        <tr v-for="item in list" :key="item.name" class="text-subtitle-2">
          <td style="font-size: small" class="text-center">
            {{ order.value }}
          </td>
          <td style="font-size: small" class="text-center">{{ item.name }}</td>
          <td style="font-size: small" class="text-center">{{ item.price }}</td>
          <td style="font-size: small" class="text-center">
            {{ item.amount }}
          </td>
          <td style="font-size: small" class="text-center">
            {{ item.price * item.amount }}
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
  <v-form class="mt-5 mr-3">
    <v-container>
      <v-row>
        <v-col cols="7">
          <v-text-field
            clearable
            label="ค้นหาสมาชิก"
            type="text"
            variant="outlined"
          >
          </v-text-field>
        </v-col>
        <v-row justify="space-between" class="text-center">
          <v-col cols="5">
            <v-btn
              :icon="mdiMagnify"
              color="rgb(203, 188, 177)"
              size="small"
              class="mt-5"
            ></v-btn>
          </v-col>
          <v-col cols="7">
            <v-btn
              rounded="pill"
              class="mt-6"
              color="rgb(203, 188, 177)"
              size="small"
              width="123px"
            >
              สมัครสมาชิก
            </v-btn></v-col
          >
        </v-row>
      </v-row>
    </v-container>
  </v-form>
  <v-card class="mr-3"
    ><v-table>
      <thead>
        <tr>
          <th class="text-left">สถานะ :</th>
          <th class="text-right">ลูกค้าทั่วไป</th>
        </tr>
        <tr>
          <th class="text-left">ยอดรวมก่อนหักส่วนลด :</th>
          <th class="text-right">00.00 บาท</th>
        </tr>
        <tr>
          <th class="text-left">ส่วนลดสมาชิก :</th>
          <th class="text-right">00.00 บาท</th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th class="text- left"><h2>ยอดรวม :</h2></th>
          <th class="text-right"><h2>195.00 บาท</h2></th>
        </tr>
        <tr>
          <th class="text- left">เงินที่ได้รับ :</th>
          <th class="text-right">200.00 บาท</th>
        </tr>
        <tr>
          <th class="text- left">เงินทอน :</th>
          <th class="text-right">05.00 บาท</th>
        </tr>
      </thead>
    </v-table>
  </v-card>
  <br />
  <v-row
    ><v-col cols="7"
      ><v-btn color="rgb(235, 83, 83)" size="small" width="100px"
        >ยกเลิกรายการ
      </v-btn>
      <v-btn color="rgb(56, 229, 77)" size="small" width="100px" class="ml-15"
        >ยืนยัน
      </v-btn></v-col
    ></v-row
  >
</template>
<style scoped></style>
