<script setup lang = "ts" >
import Chart, { type ChartConfiguration, type ChartItem } from 'chart.js/auto';
import { onMounted } from 'vue';
const day = [
    'Mon',
    'Tue',
    'Wed',
    'Thur',
    'Fri',
    'Sat',
    'Sun'];
const data = {
    labels: day,
    datasets: [{
        label: 'Hot Beverage',
        data: [1200, 1500, 2000, 1350, 2380, 2500],
        fill: false,
        borderColor: 'rgb(255, 96, 0)',
        tension: 0.1
    },
    {
        label: 'Cold Beverage',
        data: [1000, 1250, 1400, 1590, 1900, 2000],
        fill: false,
        borderColor: 'rgb(22, 105, 122)',
        tension: 0.1
    },
    {
        label: 'Frappe Beverage',
        data: [1000, 500, 1050, 1200, 1500, 1800],
        fill: false,
        borderColor: 'rgb(109, 93, 110)',
        tension: 0.1
    }]
};
const config1 = {
    type: 'line',
    data: data,
};
onMounted(() => {
    const canvasTag = <ChartItem>document.getElementById('myChart')
    new Chart(
        canvasTag,
        config1
    );
})
</script>
<template>
    <h2></h2>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</template>