<script setup lang="ts">
import MenuView from "@/components/MenuView.vue";
import OrderView from "@/components/OrderView.vue";
</script>
<template>
  <div class="container">
    <v-app absolute full-height>
      <v-main class="bg-brown-darken-4">
        <MenuView></MenuView>
      </v-main>
    </v-app>
  </div>
</template>
<style>
.container {
  position: relative;
  height: 100vh;
}
</style>
