<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";

const userStore = useUserStore();

onMounted(async () => {
  await userStore.getUsers();
});
</script>
<template>
  <UserDialog></UserDialog>
  <v-btn
    class="mt-5 ml-5"
    @click="userStore.dialog = true"
    prepend-icon="mdi-plus"
    color="rgb(178,140,94)"
    >Add New</v-btn
  >
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Tel</th>
        <th>Email</th>
        <th>Position</th>
        <th>Hourly Wage</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.tel }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.hourly_wage }}</td>
        <td>
          <v-btn
            class="mr-5"
            @click="userStore.editUser(item)"
            icon="mdi-playlist-edit"
            color="blue"
          ></v-btn
          ><v-btn
            @click="userStore.deleteUser(item.id!)"
            icon="mdi-trash-can-outline"
            color="error"
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
